/* Reset default browser styles */

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  /* Container for all content */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Header Styles */
  header {
    background-color: #0077cc; /* Blue */
    color: white;
    padding: 20px 0;
    text-align: center;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffc107 3px solid;
  }

  /* Header inner content */
  header .container { display: flex; justify-content: space-between; align-items: center; }

  /* Logo */
  header a { text-decoration: none; color: #ffc107; }
  
  /* Navigation Styles */
  nav {
    background-color: #ffa500; /* Orange */
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  /* Section Titles */
  section h2 {
    color: #0077cc; /* Blue */
    margin-bottom: 10px;
  }
  
  /* Links and Buttons */
  a, button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077cc; /* Blue */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  a:hover, button:hover {
    background-color: #005fa3; /* Darker Blue */
  }
  
  /* Register and More Info Buttons */
  .register-btn, .more-info-btn, .apply-btn, .dashboard-btn, .donate-btn, .sponsor-btn {
    background-color: #ffa500; /* Orange */
  }
  
  .register-btn:hover, .more-info-btn:hover, .apply-btn:hover, .dashboard-btn:hover, .donate-btn:hover, .sponsor-btn:hover {
    background-color: #cc8400; /* Darker Orange */
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  